# Подготовка

In [1]:
!pip install opendatasets
import opendatasets as od
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')
np.seterr(divide = 'ignore')

od.download("https://www.kaggle.com/competitions/interpretation-of-animal-actions-in-the-video-stre/data")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.65.0)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.5.13)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.26.15)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.4)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22
Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: bal00p
Your Kaggle Key: ··········
Downloading interpretation-of-animal-actions-in-the-video-stre.zip to ./interpretation-of-animal-actions-in-the-video-stre

100%|██████████| 65.3k/65.3k [00:00<00:00, 51.8MB/s]

Extracting archive ./interpretation-of-animal-actions-in-the-video-stre/interpretation-of-animal-actions-in-the-video-stre.zip to ./interpretation-of-animal-actions-in-the-video-stre

In [2]:
x_train = pd.read_csv(r"/content/interpretation-of-animal-actions-in-the-video-stre/x_train.csv", sep=',')
x_train

,id,cat,cow,dog,horse,sheep,bounds_x,bounds_y,bounds_width,bounds_height,...,L_F_paw_y,R_F_paw_v,R_F_paw_x,R_F_paw_y,L_B_paw_v,L_B_paw_x,L_B_paw_y,R_B_paw_v,R_B_paw_x,R_B_paw_y
0,265,0,1,0,0,0,37,16,240,170,...,167,1,161,168,1,94,173,1,55,177
1,676,0,0,0,1,0,43,8,208,236,...,213,1,193,209,1,77,232,1,115,233
2,441,0,0,1,0,0,65,0,234,222,...,0,0,0,0,0,0,0,0,0,0
3,328,0,1,0,0,0,15,8,272,178,...,171,1,190,172,1,52,176,1,35,178
4,102,1,0,0,0,0,2,1,148,146,...,130,1,68,131,1,3,128,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,356,0,1,0,0,0,15,1,266,188,...,0,0,0,0,0,0,0,0,0,0
672,960,0,0,0,0,1,123,72,702,580,...,615,1,618,617,1,172,599,1,223,609
673,812,0,0,0,0,1,57,12,176,176,...,170,1,171,175,1,80,172,1,107,176
674,132,1,0,0,0,0,19,8,278,214,...,218,1,130,219,1,290,106,1,260,121
675,885,0,0,0,0,1,199,112,416,304,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 70 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             676 non-null    int64
 1   cat            676 non-null    int64
 2   cow            676 non-null    int64
 3   dog            676 non-null    int64
 4   horse          676 non-null    int64
 5   sheep          676 non-null    int64
 6   bounds_x       676 non-null    int64
 7   bounds_y       676 non-null    int64
 8   bounds_width   676 non-null    int64
 9   bounds_height  676 non-null    int64
 10  L_eye_v        676 non-null    int64
 11  L_eye_x        676 non-null    int64
 12  L_eye_y        676 non-null    int64
 13  R_eye_v        676 non-null    int64
 14  R_eye_x        676 non-null    int64
 15  R_eye_y        676 non-null    int64
 16  L_ear_v        676 non-null    int64
 17  L_ear_x        676 non-null    int64
 18  L_ear_y        676 non-null    int64
 19  R_ear_v        676 non-null    int64
 20  R_ear_x        676 non-null    int64
 21  R_ear_y        676 non-null    int64
 22  Nose_v         676 non-null    int64
 23  Nose_x         676 non-null    int64
 24  Nose_y         676 non-null    int64
 25  Throat_v       676 non-null    int64
 26  Throat_x       676 non-null    int64
 27  Throat_y       676 non-null    int64
 28  Tail_v         676 non-null    int64
 29  Tail_x         676 non-null    int64
 30  Tail_y         676 non-null    int64
 31  withers_v      676 non-null    int64
 32  withers_x      676 non-null    int64
 33  withers_y      676 non-null    int64
 34  L_F_elbow_v    676 non-null    int64
 35  L_F_elbow_x    676 non-null    int64
 36  L_F_elbow_y    676 non-null    int64
 37  R_F_elbow_v    676 non-null    int64
 38  R_F_elbow_x    676 non-null    int64
 39  R_F_elbow_y    676 non-null    int64
 40  L_B_elbow_v    676 non-null    int64
 41  L_B_elbow_x    676 non-null    int64
 42  L_B_elbow_y    676 non-null    int64
 43  R_B_elbow_v    676 non-null    int64
 44  R_B_elbow_x    676 non-null    int64
 45  R_B_elbow_y    676 non-null    int64
 46  L_F_knee_v     676 non-null    int64
 47  L_F_knee_x     676 non-null    int64
 48  L_F_knee_y     676 non-null    int64
 49  R_F_knee_v     676 non-null    int64
 50  R_F_knee_x     676 non-null    int64
 51  R_F_knee_y     676 non-null    int64
 52  L_B_knee_v     676 non-null    int64
 53  L_B_knee_x     676 non-null    int64
 54  L_B_knee_y     676 non-null    int64
 55  R_B_knee_v     676 non-null    int64
 56  R_B_knee_x     676 non-null    int64
 57  R_B_knee_y     676 non-null    int64
 58  L_F_paw_v      676 non-null    int64
 59  L_F_paw_x      676 non-null    int64
 60  L_F_paw_y      676 non-null    int64
 61  R_F_paw_v      676 non-null    int64
 62  R_F_paw_x      676 non-null    int64
 63  R_F_paw_y      676 non-null    int64
 64  L_B_paw_v      676 non-null    int64
 65  L_B_paw_x      676 non-null    int64
 66  L_B_paw_y      676 non-null    int64
 67  R_B_paw_v      676 non-null    int64
 68  R_B_paw_x      676 non-null    int64
 69  R_B_paw_y      676 non-null    int64
dtypes: int64(70)
memory usage: 369.8 KB

In [ ]:
x_train.loc[:, x_train.isnull().any()].shape

(676, 0)

In [3]:
y_train = pd.read_csv(r"/content/interpretation-of-animal-actions-in-the-video-stre/y_train.csv", sep=',')
y_train

      id  nothing  stand  sit  lie  go  run
0    265        0      0    0    0   1    0
1    676        0      0    0    0   1    0
2    441        1      0    0    0   0    0
3    328        0      1    0    0   0    0
4    102        0      0    0    1   0    0
..   ...      ...    ...  ...  ...  ..  ...
671  356        0      1    0    0   0    0
672  960        0      1    0    0   0    0
673  812        0      1    0    0   0    0
674  132        0      0    0    1   0    0
675  885        1      0    0    0   0    0

[676 rows x 7 columns]

In [ ]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       676 non-null    int64
 1   nothing  676 non-null    int64
 2   stand    676 non-null    int64
 3   sit      676 non-null    int64
 4   lie      676 non-null    int64
 5   go       676 non-null    int64
 6   run      676 non-null    int64
dtypes: int64(7)
memory usage: 37.1 KB

In [ ]:
y_train.loc[:, y_train.isnull().any()].shape

(676, 0)

In [4]:
x_test = pd.read_csv(r"/content/interpretation-of-animal-actions-in-the-video-stre/x_test.csv", sep=',')
x_test

,id,cat,cow,dog,horse,sheep,bounds_x,bounds_y,bounds_width,bounds_height,...,L_F_paw_y,R_F_paw_v,R_F_paw_x,R_F_paw_y,L_B_paw_v,L_B_paw_x,L_B_paw_y,R_B_paw_v,R_B_paw_x,R_B_paw_y
0,582,0,0,0,1,0,59,30,234,156,...,179,1,141,177,1,196,172,1,255,169
1,42,1,0,0,0,0,73,2,170,174,...,171,1,158,161,1,142,152,1,105,152
2,148,1,0,0,0,0,1,8,180,242,...,234,1,83,231,0,0,0,1,52,200
3,737,0,0,0,1,0,19,6,226,160,...,0,1,205,140,1,95,163,1,50,162
4,213,0,1,0,0,0,0,2,297,296,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,902,0,0,0,0,1,0,35,547,390,...,0,0,0,0,0,0,0,0,0,0
287,284,0,1,0,0,0,5,3,280,208,...,188,1,192,192,1,37,208,1,78,207
288,276,0,1,0,0,0,45,11,254,202,...,0,0,0,0,0,0,0,0,0,0
289,889,0,0,0,0,1,97,83,420,320,...,371,1,367,372,1,113,369,1,142,371
290,144,1,0,0,0,0,85,6,212,256,...,245,1,116,231,0,0,0,0,0,0

In [ ]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 70 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             291 non-null    int64
 1   cat            291 non-null    int64
 2   cow            291 non-null    int64
 3   dog            291 non-null    int64
 4   horse          291 non-null    int64
 5   sheep          291 non-null    int64
 6   bounds_x       291 non-null    int64
 7   bounds_y       291 non-null    int64
 8   bounds_width   291 non-null    int64
 9   bounds_height  291 non-null    int64
 10  L_eye_v        291 non-null    int64
 11  L_eye_x        291 non-null    int64
 12  L_eye_y        291 non-null    int64
 13  R_eye_v        291 non-null    int64
 14  R_eye_x        291 non-null    int64
 15  R_eye_y        291 non-null    int64
 16  L_ear_v        291 non-null    int64
 17  L_ear_x        291 non-null    int64
 18  L_ear_y        291 non-null    int64
 19  R_ear_v        291 non-null    int64
 20  R_ear_x        291 non-null    int64
 21  R_ear_y        291 non-null    int64
 22  Nose_v         291 non-null    int64
 23  Nose_x         291 non-null    int64
 24  Nose_y         291 non-null    int64
 25  Throat_v       291 non-null    int64
 26  Throat_x       291 non-null    int64
 27  Throat_y       291 non-null    int64
 28  Tail_v         291 non-null    int64
 29  Tail_x         291 non-null    int64
 30  Tail_y         291 non-null    int64
 31  withers_v      291 non-null    int64
 32  withers_x      291 non-null    int64
 33  withers_y      291 non-null    int64
 34  L_F_elbow_v    291 non-null    int64
 35  L_F_elbow_x    291 non-null    int64
 36  L_F_elbow_y    291 non-null    int64
 37  R_F_elbow_v    291 non-null    int64
 38  R_F_elbow_x    291 non-null    int64
 39  R_F_elbow_y    291 non-null    int64
 40  L_B_elbow_v    291 non-null    int64
 41  L_B_elbow_x    291 non-null    int64
 42  L_B_elbow_y    291 non-null    int64
 43  R_B_elbow_v    291 non-null    int64
 44  R_B_elbow_x    291 non-null    int64
 45  R_B_elbow_y    291 non-null    int64
 46  L_F_knee_v     291 non-null    int64
 47  L_F_knee_x     291 non-null    int64
 48  L_F_knee_y     291 non-null    int64
 49  R_F_knee_v     291 non-null    int64
 50  R_F_knee_x     291 non-null    int64
 51  R_F_knee_y     291 non-null    int64
 52  L_B_knee_v     291 non-null    int64
 53  L_B_knee_x     291 non-null    int64
 54  L_B_knee_y     291 non-null    int64
 55  R_B_knee_v     291 non-null    int64
 56  R_B_knee_x     291 non-null    int64
 57  R_B_knee_y     291 non-null    int64
 58  L_F_paw_v      291 non-null    int64
 59  L_F_paw_x      291 non-null    int64
 60  L_F_paw_y      291 non-null    int64
 61  R_F_paw_v      291 non-null    int64
 62  R_F_paw_x      291 non-null    int64
 63  R_F_paw_y      291 non-null    int64
 64  L_B_paw_v      291 non-null    int64
 65  L_B_paw_x      291 non-null    int64
 66  L_B_paw_y      291 non-null    int64
 67  R_B_paw_v      291 non-null    int64
 68  R_B_paw_x      291 non-null    int64
 69  R_B_paw_y      291 non-null    int64
dtypes: int64(70)
memory usage: 159.3 KB

In [ ]:
x_test.loc[:, x_test.isnull().any()].shape

(291, 0)

Как здорово, что все без пропусков

# Дерево решений

In [5]:
import matplotlib.pyplot as plt
import random

from matplotlib.colors import ListedColormap
from sklearn import datasets

import numpy as np

In [6]:
# Реализуем класс узла

class Node:
    
    def __init__(self, index, t, true_branch, false_branch):
        self.index = index  # индекс признака, по которому ведётся сравнение с порогом в этом узле
        self.t = t  # значение порога
        self.true_branch = true_branch  # поддерево, удовлетворяющее условию в узле
        self.false_branch = false_branch  # поддерево, не удовлетворяющее условию в узле

# Реализуем класс листа листа

class Leaf:
    
    def __init__(self, data, labels):
        self.data = data
        self.labels = labels  # y_true
        self.prediction = self.predict()  # y_pred
        
    def predict(self):
        # подсчёт количества объектов разных классов
        classes = {}  # сформируем словарь "класс: количество объектов"
        for label in self.labels:
            if label not in classes:
                classes[label] = 0
            classes[label] += 1
        #  найдём класс, количество объектов которого будет максимальным в этом листе, и вернём его    
        prediction = max(classes, key=classes.get)
        return prediction        

# Расчёт критерия Джини

def gini(labels):
    #  подсчёт количества объектов разных классов
    classes = {}
    for label in labels:
        if label not in classes:
            classes[label] = 0
        classes[label] += 1
    
    #  расчёт критерия
    impurity = 1
    for label in classes:
        p = classes[label] / len(labels)
        impurity -= p ** 2
        
    return impurity

# Расчёт качества

def quality(left_labels, right_labels, current_gini):

    # доля выборки, ушедшей в левое поддерево
    p = float(left_labels.shape[0]) / (left_labels.shape[0] + right_labels.shape[0])
    
    return current_gini - p * gini(left_labels) - (1 - p) * gini(right_labels)

# Разбиение выборки на две части

def split(data, labels, index, t):
    
    left = np.where(data[:, index] <= t)
    right = np.where(data[:, index] > t)
        
    true_data = data[left]
    false_data = data[right]
    true_labels = labels[left]
    false_labels = labels[right]
        
    return true_data, false_data, true_labels, false_labels

# Нахождение наилучшего разбиения

def find_best_split(data, labels):
    
    #  обозначим минимальное количество объектов в узле
    min_leaf = 5

    current_gini = gini(labels)

    best_quality = 0
    best_t = None
    best_index = None
    
    n_features = data.shape[1]
    
    for index in range(n_features):
        t_values = [row[index] for row in data]
        
        for t in t_values:
            true_data, false_data, true_labels, false_labels = split(data, labels, index, t)
            #  пропускаем разбиения, где в узле остаётся менее 5 объектов
            if len(true_data) < min_leaf or len(false_data) < min_leaf:
                continue
            
            current_quality = quality(true_labels, false_labels, current_gini)
            
            #  выбираем порог, на котором получается максимальный прирост качества
            if current_quality > best_quality:
                best_quality, best_t, best_index = current_quality, t, index

    return best_quality, best_t, best_index

# Построение дерева посредством рекурсивной функции

def build_tree(data, labels):

    quality, t, index = find_best_split(data, labels)

    #  Базовый случай — прекращаем рекурсию, когда нет прироста качества
    if quality == 0:
        return Leaf(data, labels)

    true_data, false_data, true_labels, false_labels = split(data, labels, index, t)

    # Рекурсивно строим два поддерева
    true_branch = build_tree(true_data, true_labels)
    false_branch = build_tree(false_data, false_labels)

    # Возвращаем класс узла со всеми поддеревьями, то есть целого дерева
    return Node(index, t, true_branch, false_branch)

# Проход объекта по дереву для его классификации

def classify_object(obj, node):

    #  Останавливаем рекурсию, если достигли листа
    if isinstance(node, Leaf):
        answer = node.prediction
        return answer

    #print(obj, node.index)
    if obj[node.index] <= node.t:
        return classify_object(obj, node.true_branch)
    else:
        return classify_object(obj, node.false_branch)

# Предсказание деревом для всего датасета

def predict(data, tree):
    
    classes = []
    for obj in data:
        prediction = classify_object(obj, tree)
        classes.append(prediction)
    return classes

In [7]:
ans_train = pd.DataFrame({'id': y_train['id'], 'move': pd.Series(np.zeros(y_train.shape[0]))})
moves = ['nothing','stand','sit','lie','go','run']
for i in range(len(moves)):
    ans_train['move'] += y_train[moves[i]].replace([1],i)
ans_train['move'].unique()

array([4., 0., 1., 3., 5., 2.])

In [11]:
# Построим дерево по обучающей выборке
my_tree = build_tree(x_train.to_numpy(), ans_train['move'].to_numpy())

In [12]:
train_answers = predict(x_train.to_numpy(), my_tree)
print(list(train_answers))
print(list(ans_train['move'].to_numpy()))

[4.0, 1.0, 0.0, 1.0, 3.0, 1.0, 0.0, 1.0, 1.0, 5.0, 0.0, 1.0, 1.0, 3.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 3.0, 2.0, 3.0, 5.0, 1.0, 1.0, 1.0, 1.0, 5.0, 4.0, 4.0, 1.0, 0.0, 1.0, 3.0, 3.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 3.0, 1.0, 1.0, 3.0, 1.0, 5.0, 1.0, 0.0, 1.0, 1.0, 0.0, 2.0, 1.0, 0.0, 5.0, 1.0, 5.0, 5.0, 1.0, 1.0, 1.0, 3.0, 3.0, 3.0, 0.0, 1.0, 1.0, 0.0, 5.0, 1.0, 3.0, 4.0, 1.0, 0.0, 1.0, 1.0, 2.0, 5.0, 4.0, 1.0, 3.0, 1.0, 1.0, 2.0, 3.0, 0.0, 1.0, 3.0, 3.0, 1.0, 2.0, 1.0, 1.0, 5.0, 1.0, 1.0, 1.0, 1.0, 4.0, 1.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0, 1.0, 3.0, 1.0, 3.0, 1.0, 1.0, 5.0, 0.0, 4.0, 3.0, 3.0, 3.0, 1.0, 1.0, 1.0, 1.0, 1.0, 4.0, 1.0, 1.0, 3.0, 3.0, 5.0, 1.0, 0.0, 0.0, 1.0, 5.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 5.0, 1.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 4.0, 1.0, 3.0, 4.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 4.0, 1.0, 3.0, 1.0, 1.0, 5.0, 1.0, 5.0, 1.0, 2.0, 5.0, 5.0, 1.0, 2.0, 1.0, 1.0, 1.0, 4.0, 4.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 4.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 2.0, 4.0, 2.0, 5.0, 1.0, 5.0, 1.0, 5.0, 3.0, 1.0, 1.0, 1.0, 1.0, 0.0, 5.0, 2.0, 0.0, 1.0, 1.0, 3.0, 0.0, 2.0, 1.0, 0.0, 5.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 3.0, 5.0, 1.0, 0.0, 5.0, 1.0, 1.0, 3.0, 1.0, 3.0, 2.0, 2.0, 1.0, 0.0, 1.0, 5.0, 0.0, 1.0, 4.0, 2.0, 1.0, 1.0, 4.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 4.0, 1.0, 1.0, 1.0, 1.0, 0.0, 3.0, 3.0, 1.0, 5.0, 2.0, 1.0, 1.0, 4.0, 1.0, 2.0, 2.0, 5.0, 1.0, 1.0, 3.0, 4.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 3.0, 2.0, 2.0, 1.0, 4.0, 4.0, 1.0, 0.0, 1.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 4.0, 4.0, 3.0, 1.0, 2.0, 1.0, 1.0, 5.0, 0.0, 5.0, 0.0, 1.0, 1.0, 0.0, 1.0, 2.0, 1.0, 4.0, 1.0, 0.0, 1.0, 5.0, 3.0, 1.0, 1.0, 3.0, 1.0, 3.0, 4.0, 1.0, 2.0, 1.0, 1.0, 0.0, 2.0, 4.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 5.0, 5.0, 1.0, 1.0, 1.0, 5.0, 1.0, 0.0, 0.0, 1.0, 1.0, 4.0, 1.0, 1.0, 5.0, 5.0, 1.0, 1.0, 1.0, 1.0, 5.0, 1.0, 4.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 3.0, 3.0, 3.0, 2.0, 0.0, 3.0, 1.0, 3.0, 2.0, 1.0, 1.0, 0.0, 2.0, 1.0, 1.0, 0.0, 5.0, 1.0, 0.0, 1.0, 2.0, 1.0, 4.0, 0.0, 4.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 3.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 5.0, 1.0, 0.0, 0.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 3.0, 3.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 3.0, 1.0, 1.0, 3.0, 5.0, 1.0, 1.0, 1.0, 5.0, 4.0, 1.0, 4.0, 4.0, 0.0, 1.0, 3.0, 4.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 4.0, 1.0, 1.0, 5.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 5.0, 1.0, 4.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.0, 5.0, 1.0, 2.0, 4.0, 1.0, 1.0, 1.0, 1.0, 0.0, 3.0, 1.0, 0.0, 1.0, 1.0, 0.0, 5.0, 1.0, 3.0, 1.0, 1.0, 3.0, 4.0, 4.0, 1.0, 1.0, 5.0, 3.0, 5.0, 1.0, 1.0, 3.0, 1.0, 0.0, 3.0, 1.0, 5.0, 1.0, 1.0, 1.0, 1.0, 5.0, 3.0, 1.0, 1.0, 1.0, 2.0, 4.0, 3.0, 1.0, 1.0, 5.0, 3.0, 1.0, 3.0, 3.0, 2.0, 3.0, 5.0, 1.0, 4.0, 3.0, 1.0, 1.0, 3.0, 3.0, 1.0, 1.0, 2.0, 2.0, 1.0, 5.0, 5.0, 1.0, 2.0, 3.0, 5.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 2.0, 4.0, 0.0, 1.0, 1.0, 1.0, 5.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 4.0, 3.0, 3.0, 1.0, 1.0, 1.0, 1.0, 3.0, 5.0, 1.0, 5.0, 2.0, 5.0, 1.0, 1.0, 1.0, 5.0, 2.0, 5.0, 1.0, 1.0, 3.0, 1.0, 3.0, 0.0]
[4.0, 4.0, 0.0, 1.0, 3.0, 1.0, 0.0, 1.0, 1.0, 5.0, 0.0, 1.0, 1.0, 3.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 2.0, 1.0, 1.0, 3.0, 2.0, 3.0, 5.0, 1.0, 1.0, 1.0, 1.0, 3.0, 4.0, 4.0, 1.0, 0.0, 1.0, 3.0, 3.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 3.0, 1.0, 4.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 4.0, 3.0, 1.0, 1.0, 1.0, 0.0, 5.0, 1.0, 1.0, 2.0, 1.0, 1.0, 5.0, 1.0, 1.0, 1.0, 3.0, 3.0, 4.0, 0.0, 1.0, 1.0, 0.0, 5.0, 1.0, 1.0, 4.0, 1.0, 1.0, 1.0, 1.0, 2.0, 5.0, 4.0, 1.0, 3.0, 1.0, 1.0, 2.0, 3.0, 0.0, 1.0, 0.0, 3.0, 1.0, 2.0, 1.0, 1.0, 5.0, 1.0, 1.0, 1.0, 1.0, 4.0, 1.0, 1.0, 1.0, 2.0, 4.0, 2.0, 1.0, 1.0, 1.0, 3.0, 0.0, 1.0, 4.0, 3.0, 1.0, 3.0, 1.0, 1.0, 5.0, 0.0, 1.0, 3.0, 3.0, 3.0, 1.0, 1.0, 4.0, 1.0, 1.0, 4.0, 4.0, 1.0, 3.0, 3.0, 1.0, 1.0, 0.0, 0.0, 1.0, 4.0, 1.0, 1.0, 4.0, 2.0, 1.0, 1.0, 2.0, 5.0, 1.0, 1.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 3.0, 4.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 4.0, 1.0, 3.0, 1.0, 1.0, 5.0, 1.0, 1.0, 4.0, 2.0, 5.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 3.0, 5.0, 4.0, 3.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 4.0, 0.0, 1.0, 1.0, 1.0, 1.0, 4.0, 1.0, 2.0, 3.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 2.0, 4.0, 2.0, 5.0, 1.0, 5.0, 1.0, 5.0, 4.0, 1.0, 1.0, 1.0, 1.0, 0.0, 5.0, 1.0, 0.0, 1.0, 1.0, 4.0, 0.0, 2.0, 1.0, 0.0, 5.0, 3.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 3.0, 5.0, 1.0, 0.0, 5.0, 1.0, 1.0, 3.0, 1.0, 3.0, 2.0, 2.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 4.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 4.0, 3.0, 1.0, 5.0, 4.0, 1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 1.0, 1.0, 1.0, 3.0, 5.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 4.0, 1.0, 4.0, 1.0, 4.0, 4.0, 3.0, 0.0, 1.0, 1.0, 3.0, 1.0, 1.0, 1.0, 5.0, 1.0, 1.0, 3.0, 1.0, 3.0, 4.0, 1.0, 1.0, 2.0, 1.0, 1.0, 5.0, 3.0, 5.0, 0.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 4.0, 1.0, 0.0, 1.0, 5.0, 3.0, 1.0, 1.0, 3.0, 1.0, 3.0, 4.0, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 5.0, 5.0, 1.0, 1.0, 1.0, 5.0, 1.0, 0.0, 0.0, 4.0, 1.0, 1.0, 1.0, 1.0, 5.0, 5.0, 1.0, 1.0, 1.0, 1.0, 4.0, 1.0, 4.0, 5.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 3.0, 3.0, 3.0, 2.0, 0.0, 3.0, 1.0, 3.0, 2.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 0.0, 5.0, 1.0, 0.0, 2.0, 2.0, 1.0, 4.0, 0.0, 4.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 3.0, 1.0, 3.0, 1.0, 0.0, 1.0, 5.0, 5.0, 1.0, 0.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 3.0, 2.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 3.0, 3.0, 1.0, 1.0, 4.0, 5.0, 1.0, 4.0, 1.0, 1.0, 4.0, 1.0, 4.0, 4.0, 1.0, 1.0, 3.0, 4.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 5.0, 1.0, 4.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 1.0, 1.0, 1.0, 2.0, 4.0, 2.0, 4.0, 1.0, 1.0, 1.0, 1.0, 0.0, 3.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 3.0, 1.0, 1.0, 3.0, 4.0, 1.0, 1.0, 1.0, 1.0, 3.0, 5.0, 1.0, 1.0, 5.0, 1.0, 0.0, 3.0, 5.0, 5.0, 1.0, 1.0, 5.0, 1.0, 5.0, 3.0, 1.0, 1.0, 1.0, 2.0, 4.0, 3.0, 1.0, 1.0, 5.0, 3.0, 1.0, 3.0, 1.0, 2.0, 3.0, 1.0, 1.0, 1.0, 3.0, 1.0, 1.0, 2.0, 3.0, 1.0, 1.0, 2.0, 5.0, 0.0, 5.0, 5.0, 1.0, 5.0, 3.0, 5.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 4.0, 0.0, 1.0, 4.0, 1.0, 5.0, 1.0, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 5.0, 1.0, 3.0, 2.0, 1.0, 1.0, 1.0, 4.0, 3.0, 5.0, 1.0, 5.0, 2.0, 5.0, 1.0, 1.0, 1.0, 5.0, 2.0, 5.0, 1.0, 1.0, 1.0, 1.0, 3.0, 0.0]

In [13]:
# Введём функцию подсчёта точности
def accuracy_metric(actual, predicted):
    correct = 0
    for i in range(len(actual)):
        if actual[i] == predicted[i]:
            correct += 1
    return correct / float(len(actual)) * 100.0

In [14]:
# Точность на обучающей выборке
train_accuracy = accuracy_metric(ans_train['move'].to_numpy(), train_answers)
train_accuracy

82.98816568047337

In [15]:
# Получим ответы для тестовой выборки
answers1 = predict(x_test.to_numpy(), my_tree)

In [16]:
df_ans1 = pd.DataFrame({'id':x_test['id'], 'label':pd.Series(answers1)})
df_ans1['label'] = df_ans1['label'].astype(int)
df_ans1

      id  label
0    582      5
1     42      2
2    148      3
3    737      1
4    213      3
..   ...    ...
286  902      1
287  284      1
288  276      1
289  889      4
290  144      2

[291 rows x 2 columns]

In [ ]:
df_ans1.to_csv(r"/content/Answer1.csv", index=False)

# Случайный лес

In [17]:
random.seed(42)
 
def get_bootstrap(data, labels, N):
    n_samples = data.shape[0]
    bootstrap = []
    
    for i in range(N):
        b_data = np.zeros(data.shape)
        b_labels = np.zeros(labels.shape)
        for j in range(n_samples):
            sample_index = random.randint(0, n_samples-1)
            b_data[j] = data[sample_index]
            b_labels[j] = labels[sample_index]            
        bootstrap.append((b_data, b_labels))
        
    return bootstrap

def get_subsample(len_sample):
    # будем сохранять не сами признаки, а их индексы
    sample_indexes = [i for i in range(len_sample)]
    
    len_subsample = int(np.sqrt(len_sample))
    subsample = []
    
    random.shuffle(sample_indexes)
    for _ in range(len_subsample):
        subsample.append(sample_indexes.pop())
        
    return subsample

# Реализуем класс узла

class Node:
    
    def __init__(self, index, t, true_branch, false_branch):
        self.index = index  # индекс признака, по которому ведется сравнение с порогом в этом узле
        self.t = t  # значение порога
        self.true_branch = true_branch  # поддерево, удовлетворяющее условию в узле
        self.false_branch = false_branch  # поддерево, не удовлетворяющее условию в узле

# И класс терминального узла (листа)

class Leaf:
    
    def __init__(self, data, labels):
        self.data = data
        self.labels = labels
        self.prediction = self.predict()
        
    def predict(self):
        # подсчет количества объектов разных классов
        classes = {}  # сформируем словарь "класс: количество объектов"
        for label in self.labels:
            if label not in classes:
                classes[label] = 0
            classes[label] += 1
        #  найдем класс, количество объектов которого будет максимальным в этом листе и вернем его    
        prediction = max(classes, key=classes.get)
        return prediction        

# Расчет критерия Джини

def gini(labels):
    #  подсчет количества объектов разных классов
    classes = {}
    for label in labels:
        if label not in classes:
            classes[label] = 0
        classes[label] += 1
    
    #  расчет критерия
    impurity = 1
    for label in classes:
        p = classes[label] / len(labels)
        impurity -= p ** 2
        
    return impurity

# Расчет качества

def quality(left_labels, right_labels, current_gini):

    # доля выбоки, ушедшая в левое поддерево
    p = float(left_labels.shape[0]) / (left_labels.shape[0] + right_labels.shape[0])
    
    return current_gini - p * gini(left_labels) - (1 - p) * gini(right_labels)

# Разбиение датасета в узле

def split(data, labels, index, t):
    
    left = np.where(data[:, index] <= t)
    right = np.where(data[:, index] > t)
        
    true_data = data[left]
    false_data = data[right]
    true_labels = labels[left]
    false_labels = labels[right]
        
    return true_data, false_data, true_labels, false_labels

# Нахождение наилучшего разбиения

def find_best_split(data, labels):
    
    #  обозначим минимальное количество объектов в узле
    min_leaf = 1

    current_gini = gini(labels)

    best_quality = 0
    best_t = None
    best_index = None
    
    n_features = data.shape[1]
    
    # выбор индекса из подвыборки длиной sqrt(n_features)
    subsample = get_subsample(n_features)
    
    for index in subsample:
        # будем проверять только уникальные значения признака, исключая повторения
        t_values = np.unique([row[index] for row in data])
        
        for t in t_values:
            true_data, false_data, true_labels, false_labels = split(data, labels, index, t)
            #  пропускаем разбиения, в которых в узле остается менее 5 объектов
            if len(true_data) < min_leaf or len(false_data) < min_leaf:
                continue
            
            current_quality = quality(true_labels, false_labels, current_gini)
            
            #  выбираем порог, на котором получается максимальный прирост качества
            if current_quality > best_quality:
                best_quality, best_t, best_index = current_quality, t, index

    return best_quality, best_t, best_index

# Построение дерева с помощью рекурсивной функции

def build_tree(data, labels):

    quality, t, index = find_best_split(data, labels)

    #  Базовый случай - прекращаем рекурсию, когда нет прироста в качества
    if quality == 0:
        return Leaf(data, labels)

    true_data, false_data, true_labels, false_labels = split(data, labels, index, t)

    # Рекурсивно строим два поддерева
    true_branch = build_tree(true_data, true_labels)
    false_branch = build_tree(false_data, false_labels)

    # Возвращаем класс узла со всеми поддеревьями, то есть целого дерева
    return Node(index, t, true_branch, false_branch)

def random_forest(data, labels, n_trees):
    forest = []
    bootstrap = get_bootstrap(data, labels, n_trees)
    
    for b_data, b_labels in bootstrap:
        forest.append(build_tree(b_data, b_labels))
        
    return forest

# Функция классификации отдельного объекта

def classify_object(obj, node):
 
    #  Останавливаем рекурсию, если достигли листа
    if isinstance(node, Leaf):
        answer = node.prediction
        return answer
    
    #print(obj, node.index)
    if obj[node.index] <= node.t:
        return classify_object(obj, node.true_branch)
    else:
        return classify_object(obj, node.false_branch)

# функция формирования предсказания по выборке на одном дереве

def predict(data, tree):

    classes = []
    for obj in data:
        prediction = classify_object(obj, tree)
        classes.append(prediction)
    return classes

# предсказание голосованием деревьев

def tree_vote(forest, data):

    # добавим предсказания всех деревьев в список
    predictions = []
    for tree in forest:
        predictions.append(predict(data, tree))
    
    # сформируем список с предсказаниями для каждого объекта
    predictions_per_object = list(zip(*predictions))
    
    # выберем в качестве итогового предсказания для каждого объекта то,
    # за которое проголосовало большинство деревьев
    voted_predictions = []
    for obj in predictions_per_object:
        voted_predictions.append(max(set(obj), key=obj.count))
        
    return voted_predictions

In [18]:
  # Введем функцию подсчета точности как доли правильных ответов

def accuracy_metric(actual, predicted):
    correct = 0
    for i in range(len(actual)):
      if actual[i] == predicted[i]:
        correct += 1
    return correct / float(len(actual)) * 100.0

In [ ]:
for n_trees in range(5, 36, 15):
    my_forest_50 = random_forest(x_train.to_numpy(), ans_train['move'].to_numpy(), n_trees)

    # Получим ответы для обучающей выборки 
    train_answers = tree_vote(my_forest_50, x_train.to_numpy())

    # И получим ответы для тестовой выборки
    test_answers = tree_vote(my_forest_50, x_test.to_numpy())

    # Точность на обучающей выборке
    train_accuracy = accuracy_metric(ans_train['move'].to_numpy(), train_answers)
    print(f'Точность случайного леса из {n_trees} деревьев на обучающей выборке: {train_accuracy}')

Точность случайного леса из 5 деревьев на обучающей выборке: 95.56213017751479
Точность случайного леса из 20 деревьев на обучающей выборке: 99.11242603550295
Точность случайного леса из 35 деревьев на обучающей выборке: 100.0

In [ ]:
n_trees = 50
my_forest_50 = random_forest(x_train.to_numpy(), ans_train['move'].to_numpy(), n_trees)

# И получим ответы для тестовой выборки
answers2 = tree_vote(my_forest_50, x_test.to_numpy())

In [ ]:
df_ans2 = pd.DataFrame({'id':x_test['id'], 'label':pd.Series(answers2)})
df_ans2['label'] = df_ans2['label'].astype(int)
df_ans2

      id  label
0    582      1
1     42      1
2    148      1
3    737      1
4    213      0
..   ...    ...
286  902      1
287  284      1
288  276      1
289  889      1
290  144      2

[291 rows x 2 columns]

In [ ]:
df_ans2.to_csv(r"/content/Answer2.csv", index=False)

In [107]:
from sklearn.model_selection import cross_val_score, StratifiedKFold, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Инициализируем страифицированную разбивку нашего датасета для валидации
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

# Инициализируем наш классификатор с дефолтными параметрами
rfc = RandomForestClassifier(n_estimators=30, n_jobs=-1, oob_score=True, random_state=202, max_depth=20, max_features=20)

rfc.fit(x_train.to_numpy(), ans_train['move'].to_numpy())
rf_predict = rfc.predict(x_train.to_numpy())

train_accuracy = accuracy_metric(ans_train['move'].to_numpy(), rf_predict)
print(f'Точность на обучающей выборке: {train_accuracy}')

Точность на обучающей выборке: 100.0

In [105]:
answers22 = rfc.predict(x_test.to_numpy())
df_ans22 = pd.DataFrame({'id':x_test['id'], 'label':pd.Series(answers22)})
df_ans22['label'] = df_ans22['label'].astype(int)
df_ans22

      id  label
0    582      5
1     42      1
2    148      1
3    737      1
4    213      0
..   ...    ...
286  902      1
287  284      1
288  276      1
289  889      1
290  144      3

[291 rows x 2 columns]

In [106]:
df_ans22.to_csv(r"/content/Answer22.csv", index=False)

# Бустинг

In [ ]:
from sklearn.tree import DecisionTreeRegressor
import matplotlib.pyplot as plt
from sklearn import model_selection
import numpy as np

In [ ]:
def gb_predict(X, trees_list, coef_list, eta):
    # Реализуемый алгоритм градиентного бустинга будет инициализироваться нулевыми значениями,
    # поэтому все деревья из списка trees_list уже являются дополнительными и при предсказании прибавляются с шагом eta
    return np.array([sum([eta* coef * alg.predict([x])[0] for alg, coef in zip(trees_list, coef_list)]) for x in X])

def mean_squared_error(y_real, prediction):
    return (sum((y_real - prediction)**2)) / len(y_real)

def bias(y, z):
    return (y - z)

def gb_fit(n_trees, max_depth, X_train, X_test, y_train, coefs, eta):
    
    # Список будущих деревьев
    trees = []
    
    # Будем записывать ошибки на обучающей и тестовой выборке на каждой итерации в список (для будущей визуализации)
    train_errors = []
    
    for i in range(n_trees):
        tree = DecisionTreeRegressor(max_depth=max_depth, random_state=42)

        # инициализируем бустинг начальным алгоритмом, возвращающим ноль, 
        # поэтому первый алгоритм просто обучаем на выборке и добавляем в список
        if len(trees) == 0:
            # обучаем первое дерево на обучающей выборке
            tree.fit(X_train, y_train)
            
            train_errors.append(mean_squared_error(y_train, gb_predict(X_train, trees, coefs, eta)))
        else:
            # Получим ответы на текущей композиции
            target = gb_predict(X_train, trees, coefs, eta)
            
            # алгоритмы начиная со второго обучаем на сдвиг
            tree.fit(X_train, bias(y_train, target))
            
            train_errors.append(mean_squared_error(y_train, gb_predict(X_train, trees, coefs, eta)))

        trees.append(tree)
        
    return trees, train_errors

def evaluate_alg(X_train, X_test, y_train, y_test, trees, coefs, eta):
    train_prediction = gb_predict(X_train, trees, coefs, eta)

    print(f'Ошибка алгоритма из {n_trees} деревьев глубиной {max_depth} \
    с шагом {eta} на тренировочной выборке: {mean_squared_error(y_train, train_prediction)}')

    test_prediction = gb_predict(X_test, trees, coefs, eta)

    print(f'Ошибка алгоритма из {n_trees} деревьев глубиной {max_depth} \
    с шагом {eta} на тестовой выборке: {mean_squared_error(y_test, test_prediction)}')

def get_error_plot(n_trees, train_err, test_err):
    plt.xlabel('Iteration number')
    plt.ylabel('MSE')
    plt.xlim(0, n_trees)
    plt.plot(list(range(n_trees)), train_err, label='train error')
    plt.plot(list(range(n_trees)), test_err, label='test error')
    plt.legend(loc='upper right')
    plt.show()

In [ ]:
print(x_train.shape)
print(x_test.shape)
print(ans_train['move'].shape)
print(type(ans_train['move']))

(676, 70)
(291, 70)
(676,)
<class 'pandas.core.series.Series'>

In [ ]:
# Число деревьев в ансамбле
n_trees = 10

# для простоты примем коэффициенты равными 1
coefs = [1] * n_trees

# Максимальная глубина деревьев
max_depth = 100 #1000 не меняется

# Шаг
eta = 1.1

trees, train_errors= gb_fit(n_trees, max_depth, x_train.to_numpy(), x_test.to_numpy(), ans_train['move'].to_numpy(), coefs, eta)

train_answers = gb_predict(x_train.to_numpy(), trees, coefs, eta)
for i in range(len(train_answers)):
    train_answers[i] = round(train_answers[i])

# Точность на обучающей выборке
train_accuracy = accuracy_metric(ans_train['move'].to_numpy(), train_answers)
print(f'Точность алгоритма из {n_trees} деревьев глубиной {max_depth} \
    с шагом {eta} на обучающей выборке: {train_accuracy}')

Точность алгоритма из 10 деревьев глубиной 1000     с шагом 1.1 на обучающей выборке: 100.0

In [ ]:
answers3 = gb_predict(x_test.to_numpy(), trees, coefs, eta)
for i in range(len(answers3)):
    answers3[i] = round(answers3[i])
answers3

array([1., 1., 1., 5., 0., 1., 2., 0., 1., 5., 1., 2., 5., 5., 1., 4., 1.,
       5., 4., 3., 1., 0., 3., 1., 1., 0., 2., 1., 1., 0., 5., 1., 4., 1.,
       0., 3., 1., 1., 1., 3., 0., 1., 1., 1., 2., 1., 1., 2., 1., 4., 2.,
       5., 1., 1., 1., 1., 0., 5., 1., 1., 1., 1., 1., 5., 0., 1., 1., 5.,
       5., 0., 1., 1., 1., 1., 0., 1., 4., 5., 2., 1., 5., 1., 1., 1., 1.,
       1., 3., 1., 4., 1., 3., 1., 1., 5., 4., 5., 5., 1., 1., 3., 3., 1.,
       1., 1., 3., 1., 1., 5., 1., 0., 1., 3., 1., 1., 1., 4., 4., 2., 1.,
       1., 1., 3., 1., 1., 1., 1., 5., 1., 1., 1., 1., 0., 1., 1., 1., 1.,
       1., 0., 1., 1., 2., 1., 3., 0., 4., 5., 1., 1., 1., 1., 4., 1., 1.,
       4., 1., 5., 1., 1., 1., 1., 1., 1., 4., 1., 1., 1., 1., 1., 1., 1.,
       1., 4., 3., 1., 1., 0., 4., 1., 1., 1., 1., 3., 3., 1., 1., 1., 1.,
       3., 1., 0., 1., 1., 3., 1., 1., 3., 1., 0., 1., 1., 1., 1., 5., 0.,
       1., 1., 1., 5., 2., 0., 1., 1., 1., 1., 5., 1., 4., 2., 1., 1., 5.,
       1., 1., 3., 1., 1., 1., 1., 1., 3., 1., 1., 3., 1., 1., 1., 4., 1.,
       1., 1., 1., 4., 3., 1., 4., 1., 1., 4., 1., 5., 0., 5., 3., 5., 1.,
       1., 3., 0., 0., 1., 5., 2., 1., 1., 4., 1., 0., 1., 1., 1., 3., 1.,
       1., 3., 1., 1., 1., 1., 1., 3., 1., 1., 1., 1., 2., 4., 4., 1., 1.,
       1., 2.])

In [ ]:
df_ans3 = pd.DataFrame({'id':x_test['id'], 'label':pd.Series(answers3)})
df_ans3['label'] = df_ans3['label'].astype(int)
df_ans3

      id  label
0    582      1
1     42      1
2    148      1
3    737      5
4    213      0
..   ...    ...
286  902      4
287  284      1
288  276      1
289  889      1
290  144      2

[291 rows x 2 columns]

In [ ]:
df_ans3.to_csv(r"/content/Answer3.csv", index=False)