In [17]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
from itertools import *

In [18]:
df = pd.read_csv('/content/Price_euros_train.csv')
df

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
1,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
2,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
3,6,Acer,Aspire 3,Notebook,15.6,1366x768,AMD A9-Series 9420 3GHz,4GB,500GB HDD,AMD Radeon R5,Windows 10,2.1kg,400.00
4,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103,1315,Asus,X556UJ-XO044T (i7-6500U/4GB/500GB/GeForce,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,4GB,500GB HDD,Nvidia GeForce 920M,Windows 10,2.2kg,720.32
1104,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1105,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1106,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1107,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

In [19]:
df = df.drop(columns='laptop_ID')

In [20]:
df['Ram'] = df['Ram'].str.replace('GB', '')

In [21]:
df['Ram'] = df['Ram'].astype(int)

In [22]:
df['Weight'] = df['Weight'].str.replace('kg', '')

df['Weight'] = df['Weight'].astype(float)

In [23]:
# df['Price_euros'] = np.log(df['Price_euros'])

In [24]:
df.isna().sum()

Company              0
Product              0
TypeName             0
Inches               0
ScreenResolution    11
Cpu                  0
Ram                  0
Memory               0
Gpu                  0
OpSys               53
Weight              22
Price_euros          0
dtype: int64

In [25]:
# metrics = ['LotFrontage', 'LotArea', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF',
#          '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'GarageArea', 'WoodDeckSF', 
#          'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal']

In [26]:
# # log transform the target:
# price = np.log1p(df['SalePrice'])

# #log transform skewed continuous numerical features:
# skewed_feats = df[metrics].apply(lambda x: x.skew(skipna=True)) #compute skewness
# skewed_feats = skewed_feats[skewed_feats > 0.75]
# skewed_feats = skewed_feats.index

# df[skewed_feats] = np.log1p(df[skewed_feats])

In [27]:
# df = df.fillna(0)
df = df.fillna(df[:df.shape[0]].mean())

<ipython-input-27-639d349fd3be>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df[:df.shape[0]].mean())

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1108 entries, 0 to 1107
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1108 non-null   object
 1   Product           1108 non-null   object
 2   TypeName          1108 non-null   object
 3   Inches            1108 non-null   float64
 4   ScreenResolution  1097 non-null   object
 5   Cpu               1108 non-null   object
 6   Ram               1108 non-null   int64
 7   Memory            1108 non-null   object
 8   Gpu               1108 non-null   object
 9   OpSys             1055 non-null   object
 10  Weight            1108 non-null   float64
 11  Price_euros       1108 non-null   float64
dtypes: float64(3), int64(1), object(8)
memory usage: 104.0+ KB

In [29]:
cat_features = object_columns = df.select_dtypes(include='object').columns.tolist()
cat_features

['Company',
 'Product',
 'TypeName',
 'ScreenResolution',
 'Cpu',
 'Memory',
 'Gpu',
 'OpSys']

In [30]:
!pip install category_encoders
from category_encoders.cat_boost import CatBoostEncoder

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 KB 5.1 MB/s eta 0:00:00
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.4.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0

In [31]:
encoder = CatBoostEncoder()
encoded_data = encoder.fit(df[cat_features], df['Price_euros'])

In [32]:
encoded_data = encoder.transform(df[cat_features])
encoded_data

,Company,Product,TypeName,ScreenResolution,Cpu,Memory,Gpu,OpSys
0,1610.888590,1115.214612,1556.789908,1027.788653,1115.214612,789.430922,1027.788653,1794.406068
1,1610.888590,1983.065461,1556.789908,2218.120922,1115.214612,1860.702125,1115.214612,1794.406068
2,1610.888590,1983.065461,1556.789908,1642.544102,1652.938204,1240.688477,1652.938204,1794.406068
3,629.150159,489.621461,777.269816,543.562664,515.554965,634.007434,509.554965,1159.861231
4,1610.888590,1983.065461,1556.789908,2218.120922,1115.214612,1460.864102,1115.214612,1282.398076
...,...,...,...,...,...,...,...,...
1103,1081.323416,819.043653,777.269816,543.562664,1254.544758,634.007434,780.695769,1159.861231
1104,1073.031487,757.303653,1309.611927,1156.095630,1254.544758,701.099763,1051.433965,1159.861231
1105,1073.031487,387.535769,777.269816,543.562664,391.383147,505.414201,429.596236,1159.861231
1106,1085.135685,881.071537,777.269816,543.562664,1254.544758,670.678854,797.814945,1159.861231
1107,1081.323416,555.553653,777.269816,543.562664,391.383147,634.007434,429.596236,1159.861231

In [33]:
df_encoded = pd.concat([df.drop(columns=cat_features), encoded_data], axis=1)

In [34]:
df_encoded

,Inches,Ram,Weight,Price_euros,Company,Product,TypeName,ScreenResolution,Cpu,Memory,Gpu,OpSys
0,13.3,8,1.34,898.94,1610.888590,1115.214612,1556.789908,1027.788653,1115.214612,789.430922,1027.788653,1794.406068
1,15.4,16,1.83,2537.45,1610.888590,1983.065461,1556.789908,2218.120922,1115.214612,1860.702125,1115.214612,1794.406068
2,13.3,8,1.37,1803.60,1610.888590,1983.065461,1556.789908,1642.544102,1652.938204,1240.688477,1652.938204,1794.406068
3,15.6,4,2.10,400.00,629.150159,489.621461,777.269816,543.562664,515.554965,634.007434,509.554965,1159.861231
4,15.4,16,2.04,2139.97,1610.888590,1983.065461,1556.789908,2218.120922,1115.214612,1460.864102,1115.214612,1282.398076
...,...,...,...,...,...,...,...,...,...,...,...,...
1103,15.6,4,2.20,720.32,1081.323416,819.043653,777.269816,543.562664,1254.544758,634.007434,780.695769,1159.861231
1104,14.0,4,1.80,638.00,1073.031487,757.303653,1309.611927,1156.095630,1254.544758,701.099763,1051.433965,1159.861231
1105,14.0,2,1.50,229.00,1073.031487,387.535769,777.269816,543.562664,391.383147,505.414201,429.596236,1159.861231
1106,15.6,6,2.19,764.00,1085.135685,881.071537,777.269816,543.562664,1254.544758,670.678854,797.814945,1159.861231
1107,15.6,4,2.20,369.00,1081.323416,555.553653,777.269816,543.562664,391.383147,634.007434,429.596236,1159.861231

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_encoded.drop(columns='Price_euros'), 
                                                    df_encoded['Price_euros'],
                                                    train_size=0.99,
                                                    random_state=42)

In [36]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

In [37]:
from sklearn.linear_model import LinearRegression

from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV, ElasticNetCV
lr = LinearRegression()

lr.fit(X_train, y_train)
# lr = LassoCV()

# Train the model using the training sets
# lr.fit(X_train, y_train)

LinearRegression()

In [38]:
y_pred = lr.predict(X_train)

from sklearn.metrics import mean_squared_error, mean_absolute_error

mse = mean_squared_error(y_train, y_pred)
mae = mean_absolute_error(y_train, y_pred)

print(mse, mae)

from sklearn.metrics import r2_score

r2 = r2_score(y_train, y_pred)

print(r2)

79572.37876137222 198.17640669018482
0.8323997934588436

In [39]:
test = pd.read_csv('/content/Price_euros_test.csv')

test['Ram'] = test['Ram'].str.replace('GB', '')
test['Ram'] = test['Ram'].astype(int)

test['Weight'] = test['Weight'].str.replace('kg', '')

test['Weight'] = test['Weight'].astype(float)

test = test.drop(columns='laptop_ID')

tt = test

In [40]:
# test = test.fillna(0)
# df = df.fillna(0)
test = test.fillna(test[:test.shape[0]].mean())

<ipython-input-40-ac818c9119ac>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test = test.fillna(test[:test.shape[0]].mean())

In [41]:
cat_features = object_columns = test.select_dtypes(include='object').columns.tolist()
cat_features

['Company',
 'Product',
 'TypeName',
 'ScreenResolution',
 'Cpu',
 'Memory',
 'Gpu',
 'OpSys']

In [42]:
test_encoded = encoder.transform(test[cat_features])

test = pd.concat([test.drop(columns=cat_features), test_encoded], axis=1)

test

,Inches,Ram,Weight,Company,Product,TypeName,ScreenResolution,Cpu,Memory,Gpu,OpSys
0,15.6,4,2.10,629.150159,489.621461,777.269816,543.562664,515.554965,670.678854,509.554965,1159.861231
1,14.0,16,1.95,2782.242922,3028.053653,1679.340202,1140.520685,1745.751247,2727.184551,1762.492967,1159.861231
2,15.6,8,1.70,1081.323416,1101.028653,777.269816,1140.520685,1160.479603,1240.688477,958.541700,1159.861231
3,17.3,16,2.99,1081.323416,1115.214612,1679.340202,1140.520685,1745.751247,1801.572158,1354.617275,1159.861231
4,15.6,12,2.25,1203.560370,577.646025,777.269816,543.562664,923.597136,670.678854,1144.062168,1159.861231
...,...,...,...,...,...,...,...,...,...,...,...
190,15.6,4,2.07,1085.135685,947.303653,777.269816,1140.520685,1043.891660,634.007434,1051.433965,1159.861231
191,15.6,8,2.20,629.150159,865.071537,777.269816,1361.231014,1160.479603,670.678854,722.640922,1159.861231
192,13.3,8,1.32,1085.135685,1115.214612,1556.789908,1361.231014,1349.827048,1240.688477,1144.062168,1159.861231
193,15.6,16,2.09,1203.560370,1115.214612,1309.611927,1395.252827,1349.827048,1860.702125,1144.062168,1159.861231
194,17.3,8,3.35,1085.135685,1115.214612,1679.340202,1361.231014,1745.751247,1247.877739,1203.755744,1159.861231

In [43]:
test.isna().sum()

Inches              0
Ram                 0
Weight              0
Company             0
Product             0
TypeName            0
ScreenResolution    0
Cpu                 0
Memory              0
Gpu                 0
OpSys               0
dtype: int64

In [44]:
# #log transform the target:

# #log transform skewed continuous numerical features:
# skewed_feats = test[metrics].apply(lambda x: x.skew(skipna=True)) #compute skewness
# skewed_feats = skewed_feats[skewed_feats > 0.75]
# skewed_feats = skewed_feats.index

# test[skewed_feats] = np.log1p(test[skewed_feats])

test = scaler.transform(test)

In [45]:
test

array([[ 0.39491361, -0.85720228,  0.09205224, ..., -0.91766717,
        -1.34972767,  0.20175088],
       [-0.73131912,  1.50333464, -0.13698252, ...,  3.36723152,
         1.55541261,  0.20175088],
       [ 0.39491361, -0.07035664, -0.51870712, ...,  0.26999474,
        -0.30867899,  0.20175088],
       ...,
       [-1.22404593, -0.07035664, -1.09892851, ...,  0.26999474,
         0.12148035,  0.20175088],
       [ 0.39491361,  1.50333464,  0.07678326, ...,  1.56184415,
         0.12148035,  0.20175088],
       [ 1.59153588, -0.07035664,  2.00067525, ...,  0.28497416,
         0.2598896 ,  0.20175088]])

In [46]:
y_pred = lr.predict(test)

In [47]:
ans = pd.DataFrame({'index': np.arange(len(y_pred)), 'Price_euros': y_pred})

In [48]:
ans.to_csv('ans.csv', index=False)